/* navbar start */

nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: var(--bg-white);
}

nav .nav-menu {
  transition: right 1s;
  display: flex;
}

nav .logo {
  text-decoration: none;
}

nav .logo h1 {
  text-decoration: none;
  color: var(--footer-color);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.logo h1 span {
  color: var(--orange);
}

nav li {
  list-style-type: none;
  padding: 0 25px;
}

nav li a {
  text-decoration: none;
  color: var(--footer-color);
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}

nav li a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  transition: 0.5s;
  background-color: var(--orange);
}

nav li a:hover::after {
  width: 100%;
}

nav .fa-solid {
  display: none;
}

@media screen and (max-width: 750px) {
  nav .logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  nav {
    padding: 0 30px;
  }
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }

  nav .nav-menu {
    background-color: var(--bg-white);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    text-align: center;
  }

  .nav-menu.active {
    right: 0;
  }

  nav li {
    padding: 35px 0 35px 0;
  }

  nav li a {
    font-size: 1.3rem;
    font-weight: 500;
  }

  nav li a:hover::after {
    width: 0;
  }

  nav .fa-solid {
    display: block;
    cursor: pointer;
  }

  .fa-xmark {
    width: fit-content;
    font-size: 28px;
    position: absolute;
    top: 25px;
    right: 33px;
  }
  .fa-bars {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  nav .logo h1 {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  nav {
    height: 10vh;
  }
}
