.footer {
  padding-top: 120px;
  background-color: var(--bg-white);
  width: 100%;
  height: fit-content;
  text-align: center;
}

.footer .footer-wrapper {
  width: 100%;
  background-color: var(--footer-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding: 30px 0;
}

.footer-wrapper h2 {
  color: white;
  font-size: 2rem;
}

.footer-wrapper .footer-socials {
  display: flex;
  gap: 55px;
}

.footer-socials i {
  font-size: 1.9rem;
  color: white;
  transition: 0.5s;
}

.footer-socials i:hover {
  color: var(--orange);
  transform: scale(1.2);
}

.footer .copyright small {
  display: block;
  padding: 10px;
  font-size: 0.9rem;
  color: gray;
  background-color: rgb(43, 42, 42);
}

@media screen and (max-width: 400px) {
  .footer-wrapper .footer-socials {
    display: flex;
    gap: 35px;
  }

  .footer-socials i {
    font-size: 1.5rem;
  }
  .footer-socials i:hover {
    color: var(--orange);
    transform: scale(1);
  }
  .footer .copyright small {
    padding: 10px;
    font-size: 0.6rem;
  }
}
