.contact-link {
  padding-top: 120px;
  width: 100%;
  height: 65vh;
  background-color: var(--bg-white);
}

.contact-link .contact-link-wrapper {
  background-color: var(--orange);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-link-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  line-height: 1.4;
}

.contact-link-wrapper a {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  background-color: var(--bg-white);
  border: 1px solid black;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.contact-link-wrapper a:hover {
  background-color: var(--text-color);
  color: var(--bg-white);
}

@media screen and (max-width: 700px) {
  .contact-link-wrapper h1 {
    font-size: 2rem;
    line-height: 1.3;
  }
  .contact-link-wrapper a {
    padding: 8px 20px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 500px) {
  .contact-link-wrapper h1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .contact-link-wrapper a {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 500px) {
  .contact-link-wrapper h1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .contact-link-wrapper a {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 350px) {
  .contact-link-wrapper h1 {
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 0 10px;
  }
  .contact-link-wrapper a {
    padding: 5px 10px;
    text-transform: capitalize;
  }
  .contact-link {
    height: 50vh;
  }
}
